@tailwind components;
@tailwind utilities;

*{
  text-decoration: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.mainav ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mainav ul li {
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
  color: black;

}

.myimg {
  border-radius: 1rem;
  margin: 10px;
}
